/* Common styles */
*{box-sizing: border-box;}
body{font-family: Arial;margin: 0;padding: 0;}
header, main, footer{width: 100%;}
#container{
    width:100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Error messages */
.messageError{color: #ff0000;}
.messageSucceed{color: #008000;}

/* Sign in and sign up forms */
.frm-signin, .frm-signup{width: 500px;text-align: center;}
.frm-signin input, .frm-signup input{
    width: 350px;
    height: 50px;
    padding: 5px;
    margin: 6px 0 0 0;
    font-size: 20px;

    /* Clear the user's operating system's theme */
    -webkit-appearance: none;
    -moz-appearance: none;

    /* Apply own styles */
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.frm-signin input:focus, .frm-signup input:focus{border: 1px solid #0094ff;box-shadow: 0 0 5px #0094ff;}

#frmSignIn,#frmSignUp{margin-bottom: 20px;}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;

    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button-signin, .button-signup, .button-send-message {
    width: 200px;
    background-color: #2d6aa5;
    color: #ffffff;
    border: 2px solid #2d6aa5;
    position: center;
    bottom: 10px;
    border-radius: 40px;
}
.button-signin:hover, .button-signup:hover, .button-send-message:hover {background-color: #ffffff;color: #8a8a8a;}

.button-send-message:hover{}
.frm-signin a,.frm-signup a{color: #2d6aa5; text-decoration: underline;}
.frm-signin a:hover, .frm-signup a:hover{color: #2d6aa5; text-decoration: none;}

/*Notify*/
.notify-error{color: #ff0000;font-size: 12px;}

/*Main chat page*/
#chatApp{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.chatApp-hidden{visibility: hidden;}
#dspPartMain{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}
#dspPartFunctions{
    width: 300px;
    background-color: #2d6aa5;
    color: #cbcbcb;
}

.sendMessage{
    padding-right: 20px;
    height: 80px;
    text-align: right;
    background-color: #cfcfcf;
}
.sendMessage input{
    /* Clear the user's operating system's theme */
    -webkit-appearance: none;
    -moz-appearance: none;

    /* Apply own styles */
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #a1a1a1;
    border-radius: 8px;

    width: 60%;
    margin: 20px 10px 10px 20px;
    padding: 0 5px 0 5px;
    height: 45px;
    font-size: 18px;
}

.chatContents{padding: 5px;overflow-y: scroll;}

.userinfo{padding: 10px;text-align: center;}
.userinfo a{text-decoration: none; color: #cbcbcb;}
.userinfo a:hover{text-decoration: underline;}

/*Channels*/
.channels{padding: 10px;}
.channel-item{cursor: pointer;color: #deb887;}
.channel-item:hover{text-decoration: underline;}

/*User list*/
.userlist{padding: 10px;}
.userlist-online{color: #87cefa;}