* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: url("../images/luca-zanon-26595-unsplash.jpg") center center no-repeat;
    height: 100%;
    background-size: cover;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header div {
    margin: 50px;
}
#logo {
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    letter-spacing: 0.1em;
}
#login {
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #7695ab; /*#86acb4*/
    transition: all 0.2s ease-in-out;;
}
#login:hover {
    background-color: #003148; /*#279eb7*/
}


a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

.form-container {
    width: 40%;
    margin: 20px auto;
    display: flex;
    justify-content: center;

}
.form-container .names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.form-container input[type="text"], .form-container input[type="password"] {
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
}

.form-container div > input[type="text"] {
    width: 45%;
}

.form-container button {
    height: 50px;
    width: 100%;
    font-size: 1.2em;
    color: whitesmoke;
    border: none;
    border-radius: 8px;
    background-color: #21d154cc;
}

.form-container button:hover {
    background-color: rgba(20, 228, 80, 0.79);
}

#signup-text {
    margin: 50px 0 auto;
    color: #0009;
    font-size: 1.4em;
    text-align: center;
}
#link-registration {
    margin-top: 10px;
    text-align: right;
    font-size: 0.8em;
    color: white;
}
#link-registration a:link, #link-registration a:visited {
    text-decoration: none;
    color:  #003148;
}
.badge {
    position: absolute;
    bottom: 10px;
}

/*Updating profile*/
.title-text {
    margin: 50px 0 auto;
    color: #0009;
    font-size: 1.4em;
    text-align: center;
}
.form-container button:hover {
    cursor: pointer;
}
.userinfo-photo{
    width: 100px;
    height: 100px;
    background: transparent;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
/*End of updating profile*/

@media(max-width: 768px) {

    header div {
        margin: 10px;
    }
    #logo {
        font-size: 1.8em;
    }
    .form-container {
        width: 80%;
    }
    .form-container .names {
        flex-direction: column;
    }
    .form-container div > input[type="text"] {
        width: 100%;
    }
    #signup-text {
        font-size: 1em;
    }
}