/* Common styles */
*{box-sizing: border-box;}
body{margin: 0;}
header, main, footer{width: 100%;}
#container{
    background: url("../images/bg-image.jpg")center center no-repeat;
    background-size: cover;
    width:100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Helvetica Neue', 'Helvetica','Roboto', sans-serif;
}

/* Error messages */
.messageError{color: #ff0000;}
.messageSucceed{color: #008000;}

/* Sign in and sign up forms */
.frm-signin, .frm-signup{width: 500px;text-align: center;}
.frm-signin input, .frm-signup input{
    width: 350px;
    height: 50px;
    padding: 5px;
    margin: 6px 0 0 0;
    font-size: 20px;

    /* Clear the user's operating system's theme */
    -webkit-appearance: none;
    -moz-appearance: none;

    /* Apply own styles */
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.frm-signin input:focus, .frm-signup input:focus{border: 1px solid #0094ff;box-shadow: 0 0 5px #0094ff; }

#frmSignIn,#frmSignUp{margin-bottom: 20px;}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;

    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button-signin, .button-signup, .button-send-message {
    width: 100px;
    background-color: #627e94;
    color: #ffffff;
    position: center;
    bottom: 10px;
    border-radius: 40px;
}

.button-send-message {
    border-radius: 10px;
    padding: 14px 24px;
}
.button-signin:hover, .button-signup:hover, .button-send-message:hover {background-color: #003148;}

.button-send-message:hover{}
.frm-signin a,.frm-signup a{color: #2d6aa5; text-decoration: underline;}
.frm-signin a:hover, .frm-signup a:hover{color: #2d6aa5; text-decoration: none;}

/*Notify*/
.notify-error{color: #ff0000;font-size: 12px;}

/*Main chat page*/
#chatApp{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.chatApp-hidden{visibility: hidden;}
#dspPartMain{
    display: flex;
    flex-direction: column;
    /*justify-content: flex-end;*/
    width: 100%;
    background-color: #fff;
}
#dspPartFunctions{
    width: 300px;
    background-color: #1c2d67d4;
    color: #cbcbcb;
}
#chatContents{height: 80%;}
.messageBox {
    display: flex;
    flex-direction: row;
    width: 100%;

    margin: 12px 20px;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #8080808f;
}
.messageBox:hover {
    background-color: #e5e5e570;
}
.messageBox i {
    font-size: 0.8em;
}
.messageBox p {
    font-weight: normal; letter-spacing: 0.08em;
}
.messageBox b {
    letter-spacing: 0.08em;
}
.message-content{width:100%;padding: 0 20px 0 20px;line-height: 22px;}
.message-userinfo{
    margin: 5px;
    width: 100px;
    text-align: center;
    font-weight: bold;
}
.message-userinfo img{
    width: 50px;
    height: 50px;
    background: transparent;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.message-userinfo-not-exist img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
#logga {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px -2px 10px;
    border-bottom: 2px solid grey;
}
#logga div {
    margin: 1% 1%;
}
#dspCurrentUser p img {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.currentUser{cursor: pointer;}
#logotyp {
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    letter-spacing: 0.1em;
}
#dspCurrentChannel {
    margin-right: 30px;
    font-size: 1.2em;
}
.sendMessage{
    text-align: center;
    /*padding-right: 10px;
    padding-left: 25%;*/
    height: 80px;
    background-color: #fff;
    border-top: 2px solid grey;
}
.sendMessage input{
    /* Clear the user's operating system's theme */
    -webkit-appearance: none;
    -moz-appearance: none;

    /* Apply own styles */
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #a1a1a1;
    border-radius: 8px;

    width: 70%;
    margin: 20px 10px 10px 20px;
    padding: 0 5px 0 5px;
    height: 45px;
    font-size: 18px;
}
.sendMessage input:focus{border: 1px solid #0094ff;box-shadow: 0 0 5px #0094ff;}
.chatContents{padding: 5px;overflow-y: scroll; }

.userinfo{text-align: center;}
.userinfo a{text-decoration: none; color: #fff; font-weight: lighter; letter-spacing: 0.08em;}
.userinfo a:hover{text-decoration: underline;}
.userinfo b {
    color:white;
    font-size: 1.4em;
    font-weight: lighter;
    letter-spacing: 0.1em;
}
/*Channels*/
.channels{margin-left: 20px;}
.channel-item{cursor: pointer;color: #deb887; margin-left: 10px; font-weight: lighter; font-size: 1.2em; letter-spacing: 0.08em;}
.channel-item:hover{text-decoration: underline;}

/*User list*/
.userlist {
    margin-left: 20px;
    height: 200px;
    overflow-y: auto;
}

#dspChannels h3, #userlistHeader h3 {
    font-weight: lighter;
    letter-spacing: 0.1em;
    font-size: 1.4em;
    color: white;
}
#userlistHeader {
    margin-left: 20px;
    margin-bottom: -15px;
}
.userlist p {
    margin-left: 10px;
    color: #fff;
    font-weight: lighter;
    letter-spacing: 0.1em;
}
.userlist-online span {color: #00ce00;}
.userlist-offline span {color: red;}
::-webkit-scrollbar {
    display: none;
}





.burger {
    height: 30px;
    width: 30px;
    background-color: none;
}
.burger2 {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 10px;
    float: right ;
}
.hide {
    display: none!important;
}
.asideshow {
    width: 100%!important;
    display: block!important;
}



@media screen and (max-width: 768px) {

    #dspPartMain {
        font-size: 1.1em;
    }
    #chatContents {
        height: 69%;
    }
    #dspPartFunctions {
        display: none;
    }

    #openmenu {
        display: block;
    }
    #closemenu {
        display: block;

    }
    #container {
        height: 100vh!important;
    }
}

@media screen and (min-width: 769px) {

    #openmenu {
        display: none;
    }
    #closemenu {
        display: none;
    }
    #dspPartFunctions {
        display: block!important;
    }
}