<!DOCTYPE html>
<html lang="en" manifest="manifest.appcache">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>ChatApp - Chat now...</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../external-libraries/web-addons.css">
    <script src="../external-libraries/jquery-3.3.1.min.js"></script>
    <script src="../external-libraries/web-addons.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
    <div id="container">

        <div id="chatApp" class="chatApp-hidden">
            <div id="dspPartMain">
                <div id="logga">
                    <div>
                        <span id="logotyp">Chat <i class="far fa-comment"></i></span>
                    </div>
					<span id="dspCurrentChannel"></span>
                    <button class="burger2" id="openmenu"><img class="burger" src="../images/hamburger.png"></button>
                </div>

                <div id="chatContents" class="chatContents">Tips! Choose a channel on the right panel!</div>
                <div id="sendMessage" class="sendMessage">
                    <form action="#">
                    <input id="txtMessage" type="text" minlength="1" maxlength="200">
                    <button id="btnSend" type="button" class="button button-send-message">Send</button>
                    </form>
                </div>
            </div>

            <div id="dspPartFunctions">
                <span><button class="burger2" id="closemenu"><img class="burger" src="../images/hamburger.png"></button></span>
                <div id="dspUserInfo" class="userinfo">
                    <p id="dspCurrentUser"></p>
					<div id="hiddenUserInfo" style="display: none;">
						<p><a href="profile.html">Profile</a></p>
						<p><a href="logout.html">Sign out</a></p>
					</div>
                </div>

                <div id="dspChannels" class="channels"></div>
				<div id="userlistHeader"><h3>Members</h3></div>
                <div id="dspUserList" class="userlist"></div>
            </div>
        </div>

        <div id="systemMessages"></div>
    </div>

    <!-- Script -->
    <script src="../scripts/config.js"></script>
    <script src="../scripts/common.js"></script>
    <script src="../scripts/chatapp.js"></script>
</body>
</html>