<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logga in</title>
</head>
<body>

<input id="emaillogin" type="text">
<input id="passwordlogin" type="text">
<button id="login">Logga in</button>
<p id="paragraf"></p>


<script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-database.js"></script>
<script src="../scripts/login.js"></script>
<script src="../scripts/config.js"></script>
</body>
</html>