<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords" content="test, wireframe, product">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link href="index.css" rel="stylesheet">
    <title>Firebase QuickSetUp</title>
    <script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>
</head>
<body>

<form>
<label for="email" class="required">Email</label>
<input type="email" name="email"  placeholder="Email"
       title="EmailAdress"  id="email">


    <label for="password" class="required">Password</label>
    <input type="text" name="password" placeholder="password"
           title="UserPassword" id="password">
    <button id="btnSubmit" type="button">Submit</button>
    <button id="btnSignUp" type="button">SignUp</button>
    <button id="btnOut" type="button">Loggout</button>
</form>



<script src="../scripts/index.js"></script>
</body>
</html>