<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chattmania| chatthome</title>
    <link rel="stylesheet" href="../css/chatthomestyle.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="../scripts/chatt.js"></script>
</head>
<body>








<main>


<div id="leftcontent">

    <div id="logocontainer">
        <div>
            <span id="logo">Chat <i class="far fa-comment"></i></span>
        </div>

    </div>

    <div id="chattarea"></div>

    <div id="typearea">
        <div id="textcontainer">
            <input type="text" id="textfield">
        </div>
        <div id="send">
            <input type="submit" id="sendbtn" value="Send">
        </div>
    </div>

</div>
    <div id="rightcontent">
        <div id="profile">
            <div id="profpiccontainer">
                <img id="profilepic" src="../img/profilepic.png">
            </div>
            <div id="profilenamecontainer">
                <ul>
                    <li><span>Filipo0on &#9660;</span>
                        <ul>
                            <li><a href="">Profile</a></li>
                            <li><a href="">Logout</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div id="channels">
            <h3>Channels</h3>
        </div>

        <div id="online">
            <h3>Online Users</h3>
        </div>
    </div>


</main>
<!--
<span id="dropdownpil"> &#9660;</span>
 -->







<script src="../scripts/chatt.js"></script>
</body>
</html>